// Colors
$orange: #F38F19;
$blue: #51A7F9;
$color1: #fff;

// FONTS
@font-face {
  font-family: "oswald-extraLight";
  src: url("fonts/Oswald-ExtraLight.ttf");
}

@font-face {
  font-family: "oswald-light";
  src: url("fonts/Oswald-Light.ttf");
}

@font-face {
  font-family: "oswald-regular";
  src: url("fonts/Oswald-Regular.ttf");
}

@font-face {
  font-family: "oswald-bold";
  src: url("fonts/Oswald-Bold.ttf");
}

$textExtraLight: "oswald-extraLight";
$textLight: "oswald-light";
$textRegular: "oswald-regular";
$textBold: "oswald-bold";
$font1: 'Arial';

// Layer Width
$layerWidth: 960px;

// Keyframes
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

.fade-in {
  -webkit-animation: fadeIn .5s ease-in 1 forwards;
  animation: fadeIn .5s ease-in 1 forwards;
  opacity: 0;
}

.fade-out {
  -webkit-animation: fadeOut .5s ease-in 1 forwards;
  animation: fadeOut .5s ease-in 1 forwards;
  opacity: 1;
}

body {
  background: $color1;
  font-family: $font1;
}
