
.form-sub{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

background-color:#cccccc;



  height: 50vh;
  border-radius: 8px;



}

.button{
  padding: 9px;
  border-radius: 8px;
  width:200px;
  margin-top: 20px;
  border: 1px solid #cccccc;

  font-weight: 300;
  box-sizing: content-box;
  background-color: white;
  min-width: 25vw;
  height: 20px;
  font-size: 15px;
}
.button:first-child {
  padding-bottom: 10px;
}
.button::-webkit-input-placeholder {
  color: #F38F19;
  opacity: 0.7;
}

.button-valider::-webkit-input-placeholder {
  color: white;
}
.submit{
  width: 80px;
min-width: 10px;

background-color: #51A7F9;

}
