.Model3D-section {
  width: 100vw;
  height: 110vh;
  background: linear-gradient(#d9d9d9 , #f1f1f1, #d9d9d9);

  &__quote {
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: $textLight;
    font-size: 22px;
    line-height: 40px;
    padding-top: 50px;
  }

}
