$navBarColor: #D8D8D8;

header {
	width: 1440px;
	height: 60px;
	background: rgba(0, 0, 0, .9);
	position: fixed;
	z-index: 10;

	.header {
		margin: auto;
		width: 1300px;
		height: 100%;
		display: flex;

		&-logo {
			width: 65%;
			height: 100%;
			display: flex;
			align-items: center;
		}
		&-navBar {
			width: 35%;
			height: 100%;
			display: flex;
			align-items: center;
		}
		&-navBarList {
			width: 100%;
			display: flex;
			justify-content: space-between;
			text-transform: uppercase;
			color: $navBarColor;
			li {
				cursor: pointer;
			}
			li:hover {
				text-decoration: underline;
			}
		}
	}
}

#Layer_1 {
	cursor: pointer;
}