$navBarColor: #D8D8D8;

header {
	width: 100%;
	height: 60px;
	background: rgba(0, 0, 0, .9);
	position: fixed;
	z-index: 10;

	.header {
		margin: auto;
		width: 90%;
		height: 100%;
		display: flex;

		&-logo {
			width: 80%;
			height: 100%;
			display: flex;
			align-items: center;
		}
		&-navBar {
			width: 20%;
			height: 100%;
			display: flex;
			align-items: center;
		}
		&-navBarList {
			width: 100%;
			display: flex;
			justify-content: space-between;
			text-transform: uppercase;
			color: #fff;
			font-family: $textExtraLight;
			font-size: 13px;
			li {
				cursor: pointer;
			}
			li:hover {
				text-decoration: underline;
				color: $blue;
				transition: color .2s ease;
			}
		}
	}
}

#Layer_1 {
	cursor: pointer;
}
