.PortalGun-section {
	width: 100vw;
	height: 100vh;

	&__overlay {
		position: absolute;
		width: 100vw;
		height: 100vh;
		z-index: -1;
		background: linear-gradient(#000 , #333333);
		overflow: hidden;

		& > img {
			width: 100%;
			opacity: 0.1;
			z-index: -2;
		}
	}

  &__description {
		padding: 50px 0 0 20%;
    margin: auto;
    display: flex;

    &__left-border {
      width: 2px;
      height: 73vh;
      margin-top: 50px;
      background: #fff;
    }

    &__container {
      padding-left: 10%;
      margin-top: 40px;
			color: #fff;

      &__number {
        font-family: $textRegular;
        font-size: 100px;
        border-bottom: 2px solid #fff;
      }

      &__title {
        padding-top: 80px;
        font-family: $textRegular;
        text-transform: uppercase;
        font-size: 36px;
      }

      &__paragraph {
        padding-top: 80px;
        font-family: $textLight;
        font-size: 20px;
        line-height: 40px;
				width: 70%;
      }

			&__blueprint {
				display: flex;
				text-align: center;
				align-items: center;
				width: 30%;

				& > img {
					width: 100%;
				}
			}

    }
  }
}

.videoWrapper {
	width: 100%;
	height: 480px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;

	video {
		object-fit: cover;
		width:100%;
		height:100%;
	}

	.videoStartBtn {
		position: absolute;
		text-transform: uppercase;
		border: none;
		height: 50px;
		width: 230px;
		border-radius: 40px;
		font-size: 18px;
		cursor: pointer;
	}
}
