.portalGunSection {
	width: 1440px;
	.container {
		margin: auto;
		width: $layerWidth;
	}
	&-container {
		height: 504px;
		border-left: 2px solid black;
		padding-left: 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&-titlesContainer {
		height: 30%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&-number {
		font-size: 60px;
		font-weight: bold;
		text-decoration: underline;
	}
	&-title {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 28px;
	}
	&-textContainer {
		line-height: 49px;
		font-size: 20px;
	}
	.videoWrapper {
		margin-top: 500px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	video {
		background: grey;
		width: 1440px;
		height: 584px;
		position: absolute;
	}
	.videoStartBtn {
		position: absolute;
		text-transform: uppercase;
		border: none;
		height: 50px;
		width: 230px;
		border-radius: 20px;
		font-size: 18px;
		cursor: pointer;
	}
	.citationContainer {
		margin-top: 400px;
		text-align: center;
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 100px;
	}
}