.Video-section {

  &__video {
    width: 100%;
    height: 100vh;
    position: relative;

    &__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.8);
      z-index: 2;
    }

    & > video {
      object-fit: cover;
      width:100%;
      height:100%;
    }
  }
}

.Home {
  height: 100vh;
  background-color: rgba(255,255,255,0.5);
  &-header {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    h2 {
      font-size: 0px;
      color: #000;
      text-align: center;
    }
  }
}
